<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head(Usuarios)">
  <title>T</title>
</head>
<body>
  <header th:insert="fragments/template::header(usuarios)"></header>

    <section class="titulos">
      <h1>Usuarios</h1>
    </section>

    <section class="container d-flex justify-content-center">
      <a href="/newUsuario"><button class="btn btn-dark">Nuevo usuario</button></a>
    </section>

    <section class="table-responsive container">
      <br>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each ="user : ${listUsuario}">
            <th scope="row" th:text="${user.usuarioid}"></th>
            <td th:text="${user.nombre}"></td>
            <td th:text="${user.rol}"></td>
            <td>
              <a th:href="@{'/editUsuario/' + ${user.usuarioid}}"><Button class="btn btn-info"><i class="bi bi-pencil-square"></i>
              </Button></a>
              &nbsp;
              <a th:href="@{'/deleteUsuario/' + ${user.usuarioid}}"><button class="btn btn-danger"><i class="bi bi-trash"></i>
              </button></a>
          </td>
          </tr>
        </tbody>
      </table>
      
    </section>
</body>
</html>