<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head(Telefonos)">
    <title>T</title>
</head>
<body>
    <header th:insert="fragments/template::header(telefonos)"></header>

    <section class="titulos">
        <h1 th:inline="text" class="d-flex justify-content-center">
            Editar Codigo [[${telefono.telcodigo}]]
         </h1>
      </section>

    <section class="container">
    <div class="row">
    
        <article class="col-sm-4 colcol">
            <center>
            <a href="/telefonos"><button class="btn btn-dark">Regresar</button></a>
            <br><br>
            <form class="d-flex justify-content-center" action ="#" th:action="@{'/restNewPedido/' + ${telefono.telcodigo} + '/1'}" method="post">
                <input class="form-control" type="text" name="cantidadTel" placeholder="Pedido a Fabrica" th:value="${cantidadTel}"/>
                &nbsp;
                  <button type="submit" class="btn btn-dark" ><i class="bi bi-plus-circle"></i>
                  </button>
                  <h5 class="error" th:text="${msg}"></h5>
              </form>
            <br><br>
            <form class="d-flex justify-content-center" action ="#" th:action="@{'/addCarrito/' + ${telefono.telcodigo} + '/1'}" method="post">
                <input class="form-control" type="text" name="cantidadTel" placeholder="Unidades al carrito" th:value="${cantidadTel}"/>
                <select class="form-control" name="estado">
                  <option value="contado">Contado</option>
                  <option value="credito">Credito</option>
                </select>
                &nbsp;
                  <button type="submit" class="btn btn-dark" ><i class="bi bi-plus-circle"></i>
                  </button>
              </form>
            <br><br>
            <form  action ="#" th:action="@{/saveFoto}" th:object="${fotoVacia}" method="POST" class="d-flex justify-content-center">
                <input type="hidden" name="idtel" th:value="${telefono.telcodigo}">
                <input class="form-control" name="link" th:field="*{foto}" placeholder="Imagen Url">
                <br>
                <button class="btn btn-secondary" type="submit"><i class="bi bi-plus-circle"></i></button>
            </form>
            <br>
            <div th:each ="fo: ${listFotos}">
                <div th:value="${fo}" class="divImg">
                    <img class="imagen" th:src="${fo.foto}" alt="img"><br>
                    <a th:href="@{'/deleteFoto/' + ${fo.fotoid}} + '/'+${telefono.telcodigo}"><button class="btn btn-danger"><i class="bi bi-trash"></i></button></a>
                </div>
            </div>
            </center>
        </article>

        <article class="col-sm-8">
            <form action ="#" th:action="@{/updateTel}" th:object="${telefono}"  method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Código</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{telcodigo}" readonly="readonly" placeholder="Código" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Modelo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{modelo}" placeholder="Modelo">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Marca</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="*{fabricaid}" >
                            <option th:each ="mar : ${listMar}" th:value="${mar.fabricaid}" th:text="${mar.fabrica}" th:selected="${mar.fabricaid==fabricaid}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Color</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{color}" placeholder="Color">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Ram</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" th:field="*{ram}" placeholder="Memora Ram GB">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Almacenamiento</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" th:field="*{almacenamiento}" placeholder="Almacenamiento GB">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Procesador</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{procesador}" placeholder="Procesador">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cores</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" th:field="*{cores}" placeholder="Cores">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Descripción</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{descripcion}" placeholder="Descripción">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Precio de Fábrica</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="precio" th:field="*{preciofabrica}" oninput="precioventa()" onchange="precioventa()" onclick="precioventa()" placeholder="Precio de fábrica">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Precio de venta</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="venta" th:field="*{precioventa}" placeholder="Precio de venta" disabled>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Inventario</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{inventario}" placeholder="Inventario">
                    </div>
                </div>

                <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Disponibilidad</legend>
                    <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="disponible" th:field="*{disponible}" id="gridRadios1" value="1">
                        <label class="form-check-label" for="gridRadios1">
                            De alta
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="disponible" th:field="*{disponible}" id="gridRadios2" value="0">
                        <label class="form-check-label" for="gridRadios2">
                            De baja
                        </label>
                    </div>
                    </div>
                </div>
                </fieldset>
                
                <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-secondary">Agregar</button>
                </div>
                </div>

            </form>
        </article>
    </div>
    </section>

    <script>
            function precioventa(){
                fabrica =  document.getElementById("precio").value;
                respuesta = parseInt("0" + fabrica) + 1;
                document.getElementById("venta").value = respuesta;
            }
    </script>
</body>
</html>