<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head(Usuarios)">
    <title>T</title>
</head>
<body>
    <header th:insert="fragments/template::header(usuarios)"></header>

    <section class="titulos">
        <h1>Nuevo usuario</h1>
      </section>

    <section class="container">
    <div class="row">
    
        <article class="col-sm-4 justify-content-center">
            <a href="/usuarios"><button class="btn btn-dark">Regresar</button></a>
        </article>

        <article class="col-sm-8">
            <form action ="#" th:action="@{/saveUsuario}" th:object="${nuevo}"  method="post">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Usuario</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" />
                    </div>
                </div>
                <br>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{password}" placeholder="Password" />
                    </div>
                </div>
                <br>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Rol</label>
                    <div class="col-sm-10">
                        <select class="form-control" th:field="*{rolid}" >
                            <option th:each ="r : ${roles}" th:value="${r.rolid}" th:text="${r.rol}"></option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-dark">Agregar</button>
                </div>
                </div>

            </form>
        </article>
    </div>
    </section>
</body>
</html>