<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/template::head(Fabricas)">
  <title>T</title>
</head>
<body>
    <header th:insert="fragments/template::header(fabricas)"></header>

    <section class="titulos">
      <h1>Fabricas</h1>
    </section>

    <section class="container d-flex justify-content-center">
      <a href="/newFabrica"><button class="btn btn-dark">Nueva fabrica</button></a>
      <br>
    </section>
<br>
    <section class="table-responsive container">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fabrica</th>
            <th scope="col">IP</th>
            <th scope="col">Puerto</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each ="fab : ${listFab}">
            <th scope="row" th:text="${fab.fabricaid}">Codigo</th>
            <td th:text="${fab.fabrica}">Modelo</td>
            <td th:text="${fab.ip}">IP</td>
            <td th:text="${fab.puerto}">Disponible</td>
            <td>
              <a th:href="@{'/editFabrica/' + ${fab.fabricaid}}"><Button class="btn btn-info">Edit</Button></a>
              &nbsp;&nbsp;&nbsp;
              <a th:href="@{'/deleteFabrica/' + ${fab.fabricaid}}"><button class="btn btn-danger">Delete</button></a>
          </td>
          </tr>
        </tbody>
      </table>
      
    </section>

</body>
</html>