<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/styles.css" rel="stylesheet"/>
<title>Clientes</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar_intems navbar-dark bg-dark" id="l"> <a class="navbar-brand" href="/">HOME</a> 
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon" id="narv"></span> </button> 
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav"> 
                    <a class="nav-item nav-link" href="/telefonos">Teléfonos</a>    
                    <a class="nav-item nav-link active" href="/clientes">Clientes</a> 
                    <a class="nav-item nav-link" href="/fabricas">Fábricas</a> 
                </div>
            </div> 
        </nav>
        <br>
        <h1 class="d-flex justify-content-center">Clientes</h1>
        <br>
    </header>

<div align="center">
    <a href="/newCliente">Lista de clientes</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>NIT</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Patente</th>
                <th>Suscripción</th>
                <th>Fechav</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each ="prueba : ${listClient}">
                <td th:text="${prueba.nombre}">Nombre</td>
                <td th:text="${prueba.nit}">NIT</td>
                <td th:text="${prueba.email}">Email</td>
                <td th:text="${prueba.telefono}">Telefono</td>
                <td th:text="${prueba.patente}">Patente</td>
                <td th:text="${prueba.suscripcion}">Suscripción</td>
                <td th:text="${prueba.vencimiento}">Fecha vencimiento</td>
                <td>
                    <a th:href="@{'/editCliente/' + ${prueba.nit}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/deleteCliente/' + ${prueba.nit}}">Delete</a>
                </td>
                
             
            </tr>
        </tbody>
        
    </table>
</div>  
</body>
</html>