<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Create clientes</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar_intems navbar-dark bg-dark" id="l"> <a class="navbar-brand" href="/">HOME</a> 
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon" id="narv"></span> </button> 
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav"> 
                    <a class="nav-item nav-link" href="/telefonos">Teléfonos</a>    
                    <a class="nav-item nav-link active" href="/clientes">Clientes</a> 
                    <a class="nav-item nav-link" href="/fabricas">Fábricas</a> 
                </div>
            </div> 
        </nav>
        <br>
        <h1 class="d-flex justify-content-center">Insertar clientes</h1>
        <br>
    </header>
    <section class="container">
    <div class="row">

    <article class="col-sm-4 justify-content-center">
        <a href="/clientes"><button class="btn btn-secondary">Regresar</button></a>
    </article>

    <article class="col-sm-8">
    <form action ="#" th:action="@{/savec}" th:object="${nuevoClient}"  method="post"> 
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">NIT:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{nit}" placeholder="NIT" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" th:field="*{email}" placeholder="email" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Teléfono:</label>
            <div class="col-sm-10">
                <input type="number"  class="form-control" th:field="*{telefono}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Patente:</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" th:field="*{patente}" placeholder="patente" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">suscripción:</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control" th:field="*{suscripcion}" placeholder="suscripcion" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Fecha vencimiento:</label>
            <div class="col-sm-10">
                <input type="date"  class="form-control" th:field="*{fechav}" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary">Agregar</button>
            </div>
            </div>
    </form>
        
</article>
</div>
</section>  
</body>
</html>